body {
    font-family: 'Poppins', sans-serif;
}



/*------- navbar ---------------*/

.navbar {
    background: url("/static/css/vegan-inspired-nav.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px !important; 
    position: relative;
    margin-bottom: 0px;
}

.logo {
    background: url("/static/css/vegan_white_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 220px;
    margin: 15px;
}

/*------- generic  ---------------*/

.centertxt {
    text-align: center;
}

hr {
    margin: 50px 0px;
}
/*------- recip.html ---------------*/
.main-title {
    margin-top: 40px;
    display: block;
}

.pj-image {
    display: block;
}

.blockquote {
    font-style: italic;
    font-family: "sans-serif";
    color: #797979;
    font-size: 90%;
}

.founder {
    font-family: "sans-serif";
    color: #797979;
    font-size: 90%;
}

.set-of-cards {
    margin-top: 20px;
}



/*------- buttons ---------------*/

.add-new-bttn {
    margin: 25px 15px;
}


.btn_small {
    height: 24px;
    width: 40px;
    line-height: 24px;
    margin: 5px 5px 5px 5px;
    padding: 0 0.5em;
    border-radius: 10px;
}

.home-btn {
    color: white !important;
}

.recip_header {
    margin-top: 5px;
}

a.card-btn {
    color: rgb(0, 0, 0) !important;
}

a.more-btn {
    color: orange !important;
}

a {
    color: rgb(255, 255, 255) !important;
}

/*-------- cards ---------------*/

.card-title {
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 3px;
    text-shadow: 1px 1px #444444;
}


.category-title {
    color: #ffffff  !important;
    text-transform: lowercase;
    text-shadow: 1px 1px #444444;
}


/*------- footer ---------------*/

.footer {
    background-image: linear-gradient(to bottom right, rgb(54, 128, 52), rgb(27, 110, 66));
}

.copyright {
    font-size: xx-small;
}

/*---------recip editable page-------------*/

.edit-img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: 35px 0px 20px 0px;
    border-radius: 50%;
}


/*---------megia query -----
@media only screen and (max-width: 600px)  {

.cards-mobile {
    display: block;
    background-color: blue;
}

} --------*/ 