{% extends 'base.html'%} {% block content %}

<!---------------main title----------------------->
<div>
	<h3 class="main-title">Add Recip</h3>
</div>
<!--------------recip content--------------------->
<div class="row">
	<form action="{{ url_for('insert_recip') }}" method="POST" class="col s12">
		<div class="row">
        <!--------------recip category----------------------->
			<div class="input-field col s12">
				<i class="material-icons prefix">label_outline</i>
				<select id="category" name="category_name">
                        <option value="" disabled selected>select category</option>
                            {% for cat in categories %}
                        <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                            {% endfor %}
                    </select>
				<label>recip category</label>
			</div>
		</div>
        <!--------------recip name----------------------->
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="recip_name" name="recip_name" type="text" class="validate" required
       minlength="4" maxlength="45">
				<label for="icon_prefix">recip name</label>
			</div>
		</div>
        <!--------------recip description----------------------->
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">subject</i>
				<textarea   id="recip_description" name="recip_description" type="textarea" class="materialize-textarea" required
       minlength="20" ></textarea>
				<label for="icon_telephone">recip description</label>
			</div>
		</div>
        <!--------------recip ingredients----------------------->
        <div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">kitchen</i>
				<textarea   id="recip_ingredients" name="recip_ingredients" type="textarea" class="materialize-textarea" required
       minlength="20" ></textarea>
				<label for="icon_telephone">recip ingredients</label>
			</div>
		</div>
        <!--------------recip method----------------------->
        <div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">restaurant_menu</i>
				<textarea   id="recip_method" name="recip_method" type="textarea" class="materialize-textarea" required
       minlength="20" ></textarea>
				<label for="icon_telephone">Method</label>
			</div>
		</div>
        <!--------------recip how to image----------------------->
		<div class="row">
			<div class="col s10">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header"><i class="material-icons">lightbulb_outline</i>How to upload
							image</div>
						<div class="collapsible-body">
							<span>
                        <ol>
                        <li>We recomend using <a class="more-btn" href="https://imgbb.com/" class="more-btn" target="_blank">inbb</a> service.</li>
                        <li>Create the free acount by clicking on blue button on the top-right corner of the home page</li>
                        <li>Add picture of your meal by clinking upload button (<i class="material-icons prefix">cloud_upload</i>)</li>
                        <li>Now use <b>Embed codes</b> drop down menu and select "Direct links"</li>
                        <li>Copy and paste newly created link above</li>
                        </ol>
                        </span>
						</div>
					</li>
				</ul>
			</div>
		</div>
        <!--------------recip image----------------------->
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">image</i>
				<textarea   id="recip_image" name="recip_image" type="textarea" class="materialize-textarea"></textarea>
				<label for="icon_telephone">paste your image link here</label>
			</div>
		</div>
        
        <!--------------recip link----------------------->
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">link</i>
				<textarea   id="recip_link" name="recip_link" type="textarea" class="materialize-textarea"></textarea>
				<label for="icon_telephone">add link for more inspirations</label>
			</div>
		</div>
        <!--------------recip gluten free----------------------->
		<div class="row">
			<div class="switch col s12">
				<label>
                        <input id="gluten_free" name="gluten_free" type="checkbox">
                        <span class="lever"></span>gluten free
                    </label>
			</div>
		</div>
        <!--------------recip button add----------------------->
		<div class="row">
			<div class="col s12">
				<button class="btn waves-effect waves-light" type="submit" name="action">
                        add recip<i class="material-icons right">playlist_add</i>
                </button>
			</div>
		</div>
	</form>
</div>
{% endblock %}