<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<meta name = "viewport" content = "width = device-width, initial-scale = 1">  -->    

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> 
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar">
			<div class="nav-wrapper">
				<a href="{{url_for('get_recips')}}" class="brand-logo my-auto logo"></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{url_for('get_recips')}}">Home</a></li>
					<li><a href="{{url_for('add_recips')}}">New Recip</a></li>
					<li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a class="card-btn" href="{{url_for('get_recips')}}">Home</a></li>
					<li><a class="card-btn" href="{{url_for('add_recips')}}">New Recip</a></li>
					<li><a class="card-btn" href="{{url_for('get_categories')}}">Manage Categories</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		{% block content %} {% endblock %}
	</div>
	<div>
		<footer class="page-footer footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Vegan Inspired</h5>
						<p class="grey-text text-lighten-4">Thank you for sharing your delicious ideas!</p>
                        <p class="brand-logo my-auto logo"></p>
                    </div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Stay tuned, connect with the comunity:</h5>
						<ul>
							<li><i class="fab fa-instagram"></i> <a class="grey-text text-lighten-3" href="https://www.instagram.com/asiatrzeciak/">Asia Trzeciak</a></li>
							<li><i class="fab fa-instagram"></i> <a class="grey-text text-lighten-3" href="https://www.instagram.com/p.jachimowski89/">Patryk Jachimowski</a></li>
							<li><i class="fab fa-instagram"></i> <a class="grey-text text-lighten-3" href="https://www.instagram.com/michael.omescu/">Michael Omescu</a></li>
							<li><i class="fab fa-instagram"></i> <a class="grey-text text-lighten-3" href="https://www.instagram.com/paula.zabczyk/">Paulina Zabczyk</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container copyright">
					© 2019 Copyright, Patryk Jachimowski. Project created for academic purposes only. All Rights Reserved.
					<a class="grey-text text-lighten-4 right" href="#!"><i class="fab fa-github"></i> my GitHub</a>
				</div>
			</div>
		</footer>
	</div>

   
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>        
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
	<script type="text/javascript">
		$(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
	</script>
</body>

</html>